---
import { contentfulClient } from "../../lib/contentful";
import type { Surfaces } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import rayadoSilestone from "../../images/catalogo/silestone/rayado.webp";
import impactoSilestone from "../../images/catalogo/silestone/impacto.webp";
import manchasSilestone from "../../images/catalogo/silestone/manchas.webp";
import acidoSilestone from "../../images/catalogo/silestone/acido.webp";
import MoreProducts from "../../components/Moreproducts.astro";
import moreSilestoneImage from "../../images/catalogo/silestone/more-silestone.webp";
import silestoneLogo from "../../images/silestone-logo.svg";
import dektonLogo from "../../images/logo-dekton.svg";
import calorDekton from "../../images/catalogo/dekton/calor.mp4";
import rayadoDekton from "../../images/catalogo/dekton/rayado.mp4";
import impactoDekton from "../../images/catalogo/dekton/impacto.mp4";
import manchasDekton from "../../images/catalogo/dekton/manchas.mp4";
import moreDekton from "../../images/catalogo/dekton/dekton.avif";
import esteticaSensa from "../../images/catalogo/sensa/estitca-inigualable.jpg";
import antimanchasSensa from "../../images/catalogo/sensa/proteccion-antimanchas.jpg";
import mantenimientoSensa from "../../images/catalogo/sensa/bajo-mantenimiento.jpg";
import calidadSensa from "../../images/catalogo/sensa/calidad-maxima.jpg";
import moreSensa from "../../images/catalogo/sensa/orinocomore.avif";
import logoSensa from "../../images/logo-sensa.svg";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Surfaces>({
    content_type: "stroit",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.nombre },
    props: {
      nombre: item.fields.nombre,
      marca: item.fields.marca,
      coleccion: item.fields.coleccion,
      acabados: item.fields.acabados,
      medidas: item.fields.medidas,
      estilo: item.fields.estilo,
      tonos: item.fields.tonos,
      espesores: item.fields.espesores,
      imagen: item.fields.imagen,
      promocion: item.fields.promocion,
    },
  }));
  return pages;
}

const {
  nombre,
  marca,
  coleccion,
  acabados,
  medidas,
  estilo,
  tonos,
  espesores,
  imagen,
  promocion,
} = Astro.props;
---

<style
  define:vars={{
    moreDekton: `url("${moreDekton.src}")`,
    moreSensa:`url("${moreSensa.src}")`,
    moreSilestone: `url("${moreSilestoneImage.src}")`,
  }}
>
  .circle-button.active {
    background-color: white;
  }
  #moreDekton {
    background-image: var(--moreDekton);
    background-position: bottom;
    background-size: cover;
  }
  #moreSensa {
    background-image: var(--moreSensa);
    background-position: bottom;
    background-size: cover;
  }
  #moreSilestone {
    background-image: var(--moreSilestone);
    background-position:center;
    background-size: cover;
  }
  @media screen and (max-width: 1080px) {
    #silestoneVentajas {
      width: calc(300px * 4);
    }
  }
</style>

<Layout>
  <main class="max-w-screen-xl mx-auto">
    <section class="text-white lg:flex lg:px-8 pb-4 lg:pb-0 lg:py-10 relative">
      <div class="lg:w-2/3 relative">
        <div
          class="relative overflow-x-scroll scroll-container snap-x snap-mandatory"
        >
          <div class="flex w-[200vw] lg:w-[100vw]" id="photosItems">
            {
              imagen[1].fields.file.url && (
                <img
                  class="snap-start w-1/2 h-[60vh] object-cover"
                  src={imagen[1].fields.file.url}
                  alt={`Conoce ${marca} ${nombre}`}
                />
              )
            }
            {
              imagen[0].fields.file.url && (
                <img
                  class="snap-start w-1/2 h-[60vh] object-cover"
                  src={imagen[0].fields.file.url}
                  alt={`Textura de ${marca} ${nombre}`}
                />
              )
            }
          </div>
        </div>
        <div
          class="absolute bottom-6 left-1/2 transform -translate-x-1/2 flex space-x-2"
        >
          <button
            class="circle-button w-4 h-4 rounded-full border border-white cursor-pointer"
            onclick="changeImage(0)"></button>
          <button
            class="circle-button w-4 h-4 rounded-full border border-white cursor-pointer"
            onclick="changeImage(1)"></button>
        </div>
      </div>
      <div
        class="w-full lg:w-1/3 px-8 mt-4 lg:mt-0 flex flex-col justify-center"
      >
        <div class="hidden lg:flex text-zinc-400 space-x-1 text-xs mb-2">
          <a href="/" class="hover:text-zinc-200">Stroit Surfaces</a>
          <p>></p>
          <a href="/catalogo" class="hover:text-zinc-200">Cat치logo</a>
          <p>></p>
          <p>{marca}</p>
          <p>></p>
          <p>{nombre}</p>
        </div>
        {promocion && <p>游댠 En promoci칩n</p>}
        <h1 class="text-4xl">{nombre}</h1>
        <div class="flex space-x-1">
          <p class="capitalize">{marca}</p>
          <p>|</p>
          <p>{coleccion}</p>
        </div>
        <div class="mt-4">
          <h3 class="text-xl border-blue-50 border-b pb-1">
            Acabados disponibles
          </h3>
          <ul class="flex space-x-1 font-thin my-2">
            {acabados[0] && <li>{acabados[0]} </li>}
            {acabados[1] && <li>| {acabados[1]}</li>}
            {acabados[2] && <li>| {acabados[2]}</li>}
            {acabados[3] && <li>| {acabados[3]}</li>}
            {acabados[4] && <li>| {acabados[4]}</li>}
          </ul>
        </div>
        <div class="mt-4">
          <h3 class="text-xl border-blue-50 border-b pb-1">
            Espesores disponibles
          </h3>
          <ul class="font-thin my-2">
            {espesores[0] && <li>{espesores[0]}</li>}
            {espesores[1] && <li>{espesores[1]}</li>}
            {espesores[2] && <li>{espesores[2]}</li>}
            {espesores[3] && <li>{espesores[3]}</li>}
          </ul>
        </div>
        <div class="mt-4">
          <h3 class="text-xl border-blue-50 border-b pb-1">
            Formatos disponibles
          </h3>
          <ul class="font-thin my-2">
            {medidas[0] && <li>{medidas[0]}</li>}
            {medidas[1] && <li>{medidas[1]}</li>}
            {medidas[2] && <li>{medidas[2]}</li>}
            {medidas[3] && <li>{medidas[3]}</li>}
          </ul>
        </div>
        <div class="mt-4">
          <a
            class="flex ring-1 p-4 justify-center ring-zinc-400 space-x-1"
            href=""
          >
            <p>Cotizar ahora</p>
            <p>&rarr;</p></a
          >
          {
            promocion && (
              <p class="text-xs text-zinc-300 mt-2">
                Pregunta para que formato espesor y acabado aplica la promoci칩n.
              </p>
            )
          }
        </div>
      </div>
    </section>
    <section class="px-8 my-10 space-y-3">
      <h3 class="text-white">Detalles de la tabla completa {nombre}</h3>
      <div class="">
        <img
          class="object-cover w-full sm:h-96"
          src={imagen[0].fields.file.url}
          alt=""
        />
      </div>
    </section>
    <section></section>
    <section class="px-6 py-10 text-white">
      <div class="flex space-x-1 text-2xl font-semibold">
        <p>
          쯇or qu칠 elegir <span class="capitalize">{marca}</span><span
            class="pl-1">{nombre}?</span
          >
        </p>
      </div>
      {
        marca == "silestone" && (
          <>
            <>
              <div class="md:flex mt-4 text-zinc-200">
                <p class="my-2 md:w-1/2 md:p-4">
                  Silestone es una superficie h칤brida de minerales y materiales
                  reciclados capaz de aportar color y textura a tu espacio.
                  Gracias a su exclusiva e innovadora tecnolog칤a HybriQ +, el
                  mantenimiento es m칤nimo y se garantiza una alta resistencia a
                  las manchas y rayados.
                </p>
                <p class="my-2 md:w-1/2 md:p-4">
                  Desde su nacimiento, Silestone춽 ha marcado las tendencias m치s
                  significativas en su categor칤a, transformado el mundo de las
                  encimeras de cocina, siendo hoy un referente en el dise침o
                  interior. Una vez m치s, volvemos a cambiarlo todo.
                </p>
              </div>
              <div class="overflow-x-scroll snap-x snap-mandatory mt-4">
                <div class="flex" id="silestoneVentajas">
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={rayadoSilestone.src}
                      alt={`Persona trabajando con herramientas filosas sobre ${marca}`}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Altamente resistente al Rayado
                    </h3>
                    <p class="text-gray-300">
                      El uso y el desgaste diarios no rayan a Silestone.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={manchasSilestone.src}
                      alt={`Persona manchando con chocolate una superficie ${marca}`}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Resistente a las Manchas
                    </h3>
                    <p class="text-gray-300">
                      Su baja porosidad hace que sea altamente resistente a las
                      manchas.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={impactoSilestone.src}
                      alt={`Persona trabajando arcilla sobre ${marca}`}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Gran resistencia a los impactos
                    </h3>
                    <p class="text-gray-300">
                      Alta resistencia a los impactos y golpes diarios.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={acidoSilestone.src}
                      alt={`Persona picando jitomate sobre la superficie ${marca}`}
                    />
                    <h3 class="text-lg font-bold mb-2">Recistencia al 츼cido</h3>
                    <p class="text-gray-300">
                      La baja porosidad de Silestone evita que de da침e por
                      manchas de 치cido
                    </p>
                  </div>
                </div>
              </div>
            </>
            <div
              class="w-full h-96 mt-20 flex flex-col justify-center items-center"
              id="moreSilestone"
            >
              <h4 class="text-2xl flex flex-wrap justify-center items-center">
                Conoce m치s sobre{" "}
                <img
                  class="w-32 mx-2"
                  src={silestoneLogo.src}
                  alt="Logotipo Silestone"
                />
              </h4>
              <a class="mt-4 hover:text-zinc-200" href="/silestone">
                Ver m치s <span>&rarr;</span>
              </a>
            </div>
          </>
        )
      }
      {
        marca == "dekton" && (
          <>
            <>
              <div class="md:flex mt-4 text-zinc-200">
                <p class="my-2 md:w-1/2 md:p-4">
                  Dekton es la innovadora superficie ultracompacta de Cosentino,
                  un material tecnol칩gico compuesto por una sofisticada mezcla
                  de minerales. Se beneficia de una alta resistencia y
                  versatilidad, perfecto para usar tanto en aplicaciones
                  dom칠sticas como en proyectos m치s grandes.
                </p>
                <p class="my-2 md:w-1/2 md:p-4">
                  Las superficies Dekton cuentan con propiedades t칠cnicas, altas
                  prestaciones y caracter칤sticos colores y texturas para
                  proyectos de interior y exterior: encimeras de cocina,
                  encimeras de ba침o, revestimientos de paredes, fachadas
                  residenciales, suelos, mobiliario y platos de ducha. De esta
                  manera, es posible crear espacios con diferentes aplicaciones
                  a juego o combinadas entre s칤.
                </p>
              </div>
              <div class="overflow-x-scroll snap-x snap-mandatory mt-4">
                <div class="flex" id="silestoneVentajas">
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <video
                      autoplay
                      playsinline
                      loop
                      muted
                      class="h-80 w-full object-cover mb-4"
                      src={rayadoDekton}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Altamente resistente al Rayado
                    </h3>
                    <p class="text-gray-300">
                      Los utencilios de cocina no rayan DEKTON
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <video
                      autoplay
                      playsinline
                      loop
                      muted
                      class="h-80 w-full object-cover mb-4"
                      src={manchasDekton}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Resistente a las Manchas
                    </h3>
                    <p class="text-gray-300">
                      Las encimeras de DEKTON recisten las manchas m치s
                      dif칤ciles, permitiendo su f치cil mantenimiento y limpieza.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <video
                      autoplay
                      playsinline
                      loop
                      muted
                      class="h-80 w-full object-cover mb-4"
                      src={calorDekton}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Resiste al fuego y el calor
                    </h3>
                    <p class="text-gray-300">
                      DEKTON resiste altas temperaturas evitando da침os en su
                      superficies.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <video
                      autoplay
                      playsinline
                      loop
                      muted
                      class="h-80 w-full object-cover mb-4"
                      src={impactoDekton}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Gran resistencia a impactos
                    </h3>
                    <p class="text-gray-300">
                      Alta resistencia a los impactos y golpes diarios.
                    </p>
                  </div>
                </div>
              </div>
            </>
            <div
              class="w-full h-96 mt-20 flex flex-col justify-center items-center"
              id="moreDekton"
            >
              <h4 class="text-2xl flex flex-wrap justify-center items-center">
                Conoce m치s sobre{" "}
                <img
                  class="w-32 mx-2"
                  src={dektonLogo.src}
                  alt="Logotipo Dekton"
                />
              </h4>
              <a class="mt-4 hover:text-zinc-200" href="/silestone">
                Ver m치s <span>&rarr;</span>
              </a>
            </div>
          </>
        )
      }
      {
        marca == "sensa" && (
          <>
            <>
              <div class="md:flex mt-4 text-zinc-200">
                <p class="my-2 md:w-1/2 md:p-4">
                  Sensa ofrece la oportunidad de disfrutar de la piedra natural
                  sin preocuparse por su mantenimiento. Su revolucionario
                  tratamiento antimanchas la hace duradera para el uso diario.
                </p>
                <p class="my-2 md:w-1/2 md:p-4">
                  La protecci칩n antimanchas de las piedras naturales Sensa
                  facilita su aplicaci칩n en encimeras de cocina y revestimientos
                  de paredes. De esta manera, es posible crear espacios con
                  diferentes aplicaciones a juego o combinadas entre s칤.
                </p>
              </div>
              <div class="overflow-x-scroll snap-x snap-mandatory mt-4">
                <div class="flex" id="silestoneVentajas">
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img class="h-80 w-full object-cover mb-4" src={esteticaSensa.src} alt="">
                    <h3 class="text-lg font-bold mb-2">
                      Est칠tica inigualable
                    </h3>
                    <p class="text-gray-300">
                      Selecci칩n exclusiva de piedras naturales con dise침os 칰nicos para crear espacios incre칤bles.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={antimanchasSensa.src}
                      alt={`Cocina ${marca} negra`}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Protecci칩n antimanchas
                    </h3>
                    <p class="text-gray-300">
                      Revolucionario tratamiento integrado en la estructura molecular de la piedra.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={mantenimientoSensa.src}
                      alt={`Lavabo ${marca}`}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Bajo mantenimiento
                    </h3>
                    <p class="text-gray-300">
                      Su mantenimiento alarga la vida 칰til de tu encimera, no necesita ser sellado y es f치cil de limpiar.
                    </p>
                  </div>
                  <div class="w-1/4 snap-center mx-1 sm:mx-2 lg:mx-4">
                    <img
                      class="mb-4 h-80 w-full object-cover"
                      src={calidadSensa.src}
                      alt={`Cocina ${marca} orinoco`}
                    />
                    <h3 class="text-lg font-bold mb-2">
                      Calidad m치xima
                    </h3>
                    <p class="text-gray-300">
                      Garantizamos la m치xima calidad durante el proceso de extracci칩n y elaboraci칩n de la piedra natural.
                    </p>
                  </div>
                </div>
              </div>
            </>
            <div
              class="w-full h-96 mt-20 flex flex-col justify-center items-center"
              id="moreSensa"
            >
              <h4 class="text-2xl flex flex-wrap justify-center items-center">
                Conoce m치s sobre{" "}
                <img
                  class="w-28 mx-2"
                  src={logoSensa.src}
                  alt="Logotipo Sensa"
                />
              </h4>
              <a class="mt-4 hover:text-zinc-200" href="/silestone">
                Ver m치s <span>&rarr;</span>
              </a>
            </div>
          </>
        )
      }
    </section>
    <MoreProducts />
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll<HTMLImageElement>(".snap-start");
      const buttons =
        document.querySelectorAll<HTMLButtonElement>(".circle-button");
      const container = document.querySelector(
        ".scroll-container",
      ) as HTMLElement;

      // Funci칩n para activar el bot칩n correspondiente
      function activateButton(index: number) {
        buttons.forEach((button, i) => {
          if (i === index) {
            button.classList.add("active");
          } else {
            button.classList.remove("active");
          }
        });
      }

      // Funci칩n para cambiar la imagen y activar el bot칩n correspondiente
      function changeImage(index: number) {
        const image = images[index];

        if (image instanceof HTMLElement) {
          const imageWidth = image.offsetWidth;
          const scrollLeft = imageWidth * index;
          container.scrollTo({
            left: scrollLeft,
            behavior: "smooth",
          });

          activateButton(index);
        }
      }

      // Agregar evento de escucha para el desplazamiento
      container.addEventListener("scroll", function () {
        const scrollPosition = container.scrollLeft;
        const containerWidth = container.offsetWidth;

        images.forEach((image, index) => {
          const imageWidth = image.offsetWidth;
          const imagePosition = index * imageWidth;

          // Ajuste para la detecci칩n de la imagen en vista
          if (
            scrollPosition >= imagePosition - containerWidth / 4 &&
            scrollPosition < imagePosition + imageWidth - containerWidth / 4
          ) {
            // La imagen est치 en la vista, activar el bot칩n correspondiente
            activateButton(index);
          }
        });
      });

      // Agregar evento de clic a los botones
      buttons.forEach((button, index) => {
        button.addEventListener("click", () => {
          changeImage(index);
        });
      });

      // Agregar clase 'active' al primer bot칩n cuando se carga la p치gina
      buttons[0].classList.add("active");
    });
  </script>
</Layout>
