---
import laurent1 from "../images/catalogo-promociones/dekton/laurent/laurent-1.avif";
import laurent2 from "../images/catalogo-promociones/dekton/laurent/laurent-2.avif";
import laurent3 from "../images/catalogo-promociones/dekton/laurent/laurent-3.avif";
import laurent4 from "../images/catalogo-promociones/dekton/laurent/laurent-4.avif";
import laurent5 from "../images/catalogo-promociones/dekton/laurent/laurent-5.avif";
import lucid1 from "../images/catalogo-promociones/dekton/lucid/lucid-1.avif";
import lucid2 from "../images/catalogo-promociones/dekton/lucid/lucid-2.avif";
import lucid3 from "../images/catalogo-promociones/dekton/lucid/lucid-3.jpg";
import lucid4 from "../images/catalogo-promociones/dekton/lucid/lucid-4.jpg";
import lucid5 from "../images/catalogo-promociones/dekton/lucid/lucid-5.jpg";
import bergen1 from "../images/catalogo-promociones/dekton/bergen/bergen-1.avif";
import bergen2 from "../images/catalogo-promociones/dekton/bergen/bergen-2.avif";
import bergen3 from "../images/catalogo-promociones/dekton/bergen/bergen-3.avif";
import bergen4 from "../images/catalogo-promociones/dekton/bergen/bergen-4.avif";
import bergen5 from "../images/catalogo-promociones/dekton/bergen/bergen-5.avif";
import arga1 from "../images/catalogo-promociones/dekton/arga/arga-1.avif";
import arga2 from "../images/catalogo-promociones/dekton/arga/arga-2.avif";
import arga3 from "../images/catalogo-promociones/dekton/arga/arga-3.avif";
import arga4 from "../images/catalogo-promociones/dekton/arga/arga-4.avif";
import arga5 from "../images/catalogo-promociones/dekton/arga/arga-5.avif";
import portum1 from "../images/catalogo-promociones/dekton/portum/portum-1.avif";
import portum2 from "../images/catalogo-promociones/dekton/portum/portum-2.avif";
import portum3 from "../images/catalogo-promociones/dekton/portum/portum-3.avif";
import portum4 from "../images/catalogo-promociones/dekton/portum/portum-4.avif";
import portum5 from "../images/catalogo-promociones/dekton/portum/portum-5.avif";
import tundra1 from "../images/catalogo-promociones/dekton/tundra/tundra-1.jpg";
import tundra2 from "../images/catalogo-promociones/dekton/tundra/tundra-2.jpg";
import tundra3 from "../images/catalogo-promociones/dekton/tundra/tundra-3.jpg";
import tundra4 from "../images/catalogo-promociones/dekton/tundra/tundra-4.jpg";
import marina1 from "../images/catalogo-promociones/dekton/marina/marina-1.avif";
import marina2 from "../images/catalogo-promociones/dekton/marina/marina-2.avif";
import marina3 from "../images/catalogo-promociones/dekton/marina/marina-3.avif";
import marina4 from "../images/catalogo-promociones/dekton/marina/marina-4.avif";
import marina5 from "../images/catalogo-promociones/dekton/marina/marina-5.avif";
import salina1 from "../images/catalogo-promociones/dekton/salina/salina-1.avif";
import salina2 from "../images/catalogo-promociones/dekton/salina/salina-2.avif";
import salina3 from "../images/catalogo-promociones/dekton/salina/salina-3.avif";
import salina4 from "../images/catalogo-promociones/dekton/salina/salina-4.avif";
import salina5 from "../images/catalogo-promociones/dekton/salina/salina-5.avif";
import stroitlogo from "../images/stroit-logo-ss.svg";

const somnia =
    "https://pub-81aca52011284a96b910aedeefde00fe.r2.dev/somnia.webp";
---

<style
    define:vars={{
        somnia: `url("${somnia}")`,
    }}
>
    .bgImage {
        background-image: var(--somnia);
        background-size: cover;
        background-position: center;
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Conoce las mejores promociones para transformar tus espacios con la sofisticaci칩n y durabilidad
            que solo Dekton puede ofrecer.">
        <meta property="og:image" content="https://pub-81aca52011284a96b910aedeefde00fe.r2.dev/og-image%20copia.webp">
        <title>游댠 Promociones Dekton</title>
        
    </head>
    <body class="bg-zinc-800">
        <main>
            <section class="flex justify-center items-center">
                <img class="w-52 py-8" src={stroitlogo.src} alt="" />
            </section>
            <section
                class="bgImage h-56 md:h-72 w-full flex items-center justify-center"
            >
            </section>
            <section class="bg-black mx-auto">
                <h1 class="text-gray-300 text-center py-4 px-4">
                    Te presentamos nuestras promociones m치s destacadas para
                    transformar tus espacios con la sofisticaci칩n y durabilidad
                    que solo Dekton puede ofrecer.
                </h1>
            </section>
            <section>
                <div class="max-w-screen-2xl mx-auto">
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Laurent</h3>
                                <p>Dekton - Dk natural</p>
                            </div>

                            <div class="pt-6 lg:pt-0">
                                <p class="">Medidas: 320cm x 144cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 20mm</p>
                                    <p>Acabado: Mate</p>
                                </div>
                                <p class="font-thin py-3">
                                    Inspirado en la piedra natural Port Laurent.
                                    Su textura superficial a침ade un juego de
                                    matices que potencian el contraste de sus
                                    tonos. Las vetas doradas jerarquizan el
                                    espacio y aportan calidez a un fondo fr칤o de
                                    tonos oscuros que dan profundidad al
                                    conjunto.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $65,788 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50 mb-6"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $33,784 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3 responsive"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={laurent5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={laurent2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={laurent3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={laurent4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={laurent1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between lg:order-2"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Lucid</h3>
                                <p>Dekton - Onirika</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 320cm x 144cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 12mm</p>
                                    <p>Acabado: Pulido</p>
                                </div>

                                <p class="font-thin py-3">
                                    Las delicadas vetas blancas a침aden
                                    sofisticaci칩n y luminosidad a un fondo de
                                    tonos gris claros, creando un efecto visual
                                    de frescura y amplitud. Dekton Lucid
                                    transforma cualquier espacio con su est칠tica
                                    refinada y su capacidad para iluminar
                                    ambientes con su pureza y claridad.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $70, 121 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $33,600 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3 lg:order-1"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={lucid5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={lucid2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={lucid3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={lucid4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={lucid1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Arga</h3>
                                <p>Dekton - Stonika</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 320cm x 144cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 20mm</p>
                                    <p>Acabado: Pulido</p>
                                </div>

                                <p class="font-thin py-3">
                                    Inspirado en la cuarcita Taj Mahal, Dekton춽
                                    Stonika Arga recrea el lujo de la piedra
                                    natural con las propiedades de Stonika. Su
                                    suave fondo crema, con sutiles vetas de
                                    colores claros entre marrones y oro,
                                    intensifican una estructura dram치tica. Una
                                    gr치fica hiperrealista, con un brillo
                                    deslumbrante, dan profundidad y riqueza a
                                    este material.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $84,549 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $34,600 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={arga5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={arga2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={arga3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={arga4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={arga1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between lg:order-2"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Bergen</h3>
                                <p>Dekton - Stonika</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 320cm x 144cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 20mm</p>
                                    <p>Acabado: Pulido</p>
                                </div>

                                <p class="font-thin py-3">
                                    Las vetas sutiles en tonos c치lidos aportan
                                    una sensaci칩n de profundidad y calidez,
                                    equilibrando un fondo s칩lido y robusto.
                                    Dekton Bergen a침ade un toque de elegancia
                                    natural a cualquier espacio, creando un
                                    ambiente acogedor y distintivo con su
                                    apariencia inspirada en la naturaleza.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $82,790 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $18,000 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3 lg:order-1"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={bergen5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={bergen2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={bergen3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={bergen4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={bergen1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Portum</h3>
                                <p>Dekton - Stonika</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 320cm x 144cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 20mm</p>
                                    <p>Acabado: Mate</p>
                                </div>

                                <p class="font-thin py-3">
                                    Inspirado en las piedras calizas m치s finas,
                                    Dekton Portum refleja una belleza serena y
                                    natural. Su superficie gris claro, adornada
                                    con delicadas vetas blancas, aporta un
                                    equilibrio perfecto entre sofisticaci칩n y
                                    simplicidad.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $59,592 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $18,000 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={portum5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={portum2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={portum3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={portum4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={portum1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between lg:order-2"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Tundra</h3>
                                <p>Dekton - Stonika</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 320cm x 144cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 20mm</p>
                                    <p>Acabado: Pulido</p>
                                </div>

                                <p class="font-thin py-3">
                                    Inspirado en los paisajes nevados m치s puros,
                                    Dekton Tundra ofrece una elegancia serena y
                                    contempor치nea. Su superficie blanca, con
                                    sutiles matices grises y detalles sutiles en
                                    tonos fr칤os, imita la belleza de un entorno
                                    invernal.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $64,566 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $16,416 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3 lg:order-1"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p class="font-light text-sm pl-6 p-4">
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={tundra1.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={tundra2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={tundra3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={tundra4.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Marina</h3>
                                <p>Dekton - Silverkoast</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 333cm x 165cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 20mm</p>
                                    <p>Acabado: Mate</p>
                                </div>

                                <p class="font-thin py-3">
                                    Marina, en acabado velvet, se inspira en los
                                    caprichosos dibujos de sal que la marea baja
                                    deja sobre la arena y las rocas. Esas
                                    delicadas crestas blancas se materializan en
                                    un patr칩n asim칠trico de vetas grises sobre
                                    una base blanca que reinterpreta la
                                    elegancia cl치sica del m치rmol de Carrara.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $58,339 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $29,170 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={marina5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={marina2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={marina3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={marina4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={marina1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row">
                        <div
                            class="text-white lg:w-1/3 p-8 flex flex-col justify-between lg:order-2"
                        >
                            <div>
                                <h3 class="text-4xl lg:text-6xl">Salina</h3>
                                <p>Dekton - Silverkoast</p>
                            </div>
                            <div class="pt-6 lg:pt-0">
                                <p>Medidas: 333cm x 165cm</p>
                                <div class="flex space-x-2">
                                    <p>Espesor: 12mm</p>
                                    <p>Acabado: Pulido</p>
                                </div>

                                <p class="font-thin py-3">
                                    Salina, en acabado pulido, se inspira en los
                                    caprichosos dibujos de sal que la marea baja
                                    deja sobre la arena y las rocas. Esas
                                    delicadas crestas blancas se materializan en
                                    un patr칩n asim칠trico de vetas grises sobre
                                    una base blanca que reinterpreta la
                                    elegancia cl치sica del m치rmol de Carrara.
                                </p>
                                <div class="flex space-x-2 opacity-50 pb-1">
                                    <h4>Precio de lista:</h4>
                                    <div class="flex space-x-2">
                                        <p class="line-through">
                                            $58,482 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center space-x-2 opacity-50"
                                >
                                    <h4>Precio en promoci칩n:</h4>
                                    <div class="flex space-x-2">
                                        <p
                                            class="border border-red-500 p-1 text-red-300"
                                        >
                                            $34,200 <span>MXN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="overflow-x-scroll snap-x snap-mandatory lg:w-2/3 lg:order-1"
                        >
                            <div class="flex">
                                <div class="absolute">
                                    <p
                                        class="text-white font-light text-sm pl-6 p-4"
                                    >
                                        Desliza<span class="pl-2">&rarr;</span>
                                    </p>
                                </div>
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={salina5.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={salina2.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={salina3.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={salina4.src}
                                    alt=""
                                />
                                <img
                                    class="lg:object-cover h-auto w-auto snap-center"
                                    src={salina1.src}
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
