---
import Layout from "../layouts/Layout.astro";
import dektonImage from "../images/dekton/portada.jpg";
import dektonLogo from "../images/logo-dekton.svg";
import dektonInovacion from "../images/dekton/innovacion.avif";
import dektonInovacion2 from "../images/dekton/inovacion-2.jpg";
import ultracompacto from "../images/dekton/ultracompacto.avif";
import ultracompactos from "../images/dekton/ultracompactos.jpg";
import resistenciaVideo from "../images/dekton/resistencia.mp4";
import impactoVideo from "../images/dekton/impacto.mp4";
import manchasVideo from "../images/dekton/manchas.mp4";
import calorVideo from "../images/dekton/calor.mp4";
import rayosvVideo from "../images/dekton/rayosv.mp4";
import piertraKodeImage from "../images/pietrakode.jpeg";
import colorsImage from "../images/dekton/variedad-de-colores.png";
import espaciosContinuosImage from "../images/dekton/espacios-continuos.jpg";
import personalizacionImage from "../images/dekton/personalizacion.png";
import tamanosImage from "../images/dekton/tamanos.avif";
import instalacionImage from "../images/dekton/instalacion.avif";
import slimImage from "../images/dekton/slim.avif";
import optimmaImage from "../images/dekton/optimma.avif";
import xglossImage from "../images/dekton/xgloss.avif";
import gripImage from "../images/dekton/grip.avif";
import protekImage from "../images/dekton/protek.avif";
import corteImage from "../images/dekton/corte.avif";
import appRevestimientosImage from '../images/dekton/app-revestimiento.png';
import appMobiliarioImage from '../images/dekton/app-mobiliario.png';
import appSuelosImage from '../images/dekton/app-suelos.png';
import appFachadasImage from '../images/dekton/app-fachadas.png';
import appEncimeraImage from '../images/dekton/app-encimeras.png';
import MoreProductsDekton from '../components/Moreproductsdekton.astro';

---

<style
    define:vars={{
        trance: `url("${dektonImage.src}")`,
        piertraKode: `url("${piertraKodeImage.src}")`,
    }}
>
    .portada {
        background-image: var(--trance);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .pietra {
        background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.55),
                rgba(0, 0, 0, 0.25)
            ),
            var(--piertraKode);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
</style>

<Layout>
    <main>
        <div class="portada flex items-center justify-center">
            <img class="w-56 lg:w-72" src={dektonLogo.src} alt="" />
        </div>
        <section class="max-w-screen-lg mx-auto text-white">
            <div class="space-y-2 my-10 px-4">
                <h1 class="text-zinc-400">¿Qué es Dekton?</h1>
                <h2 class="text-4xl">
                    LA SUPERFICIE PERFECTA PARA EL DISEÑO Y LA ARQUITECTURA
                </h2>
                <p class="text-zinc-400">
                    Hemos descodificado la piedra natural, descifrando su
                    belleza y rendimiento únicos para volver a codificarla y
                    mejorarla a través de la tecnología hasta convertirla en
                    Dekton: la Piedra Técnica Ultracompacta. Dekton inspira el
                    futuro de la arquitectura y el diseño mediante la creación
                    de espacios con alma en los que la belleza y la
                    funcionalidad coexisten en perfecta armonía.
                </p>
            </div>
        </section>
        <section class="max-w-screen-lg mx-auto px-2">
            <div class="">
                <div
                    class="text-white max-w-screen-xl mx-auto flex overflow-x-scroll snap-x snap-mandatory"
                >
                    <div class="w-[400wv] sm:w-[250vw] md:w-[w-100] flex">
                        <div
                            class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                        >
                            <img
                                class="h-60 object-cover w-full"
                                src={dektonInovacion.src}
                                alt=""
                            />
                            <div class="pr-4">
                                <h3 class="text-2xl my-4">
                                    Dekton es una superficie
                                </h3>
                                <p class="text-zinc-400">
                                    Dekton representa la excelencia en belleza
                                    funcional para cualquier proyecto
                                    arquitectónico.
                                </p>
                                <p class="mt-4 text-zinc-400">
                                    La versatilidad de Dekton lo hace ideal para
                                    cualquier aplicación, incluso en las
                                    condiciones más exigentes como fachadas o
                                    suelos.
                                </p>
                            </div>
                        </div>
                        <div
                            class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                        >
                            <img
                                class="w-full h-60 object-cover"
                                src={dektonInovacion2.src}
                                alt=""
                            /><div class="pr-4">
                                <h3 class="text-2xl my-4">
                                    Dekton es innovación
                                </h3>
                                <p class="text-zinc-400">
                                    El proceso de fabricación de Dekton con la
                                    tecnología TSP hace que el material tenga un
                                    alto rendimiento, lo que le permite superar
                                    a la porcelana estándar.
                                </p>
                            </div>
                        </div>
                        <div
                            class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                        >
                            <img
                                class="w-full h-60 object-cover"
                                src={ultracompactos.src}
                                alt=""
                            />
                            <div class="pr-4">
                                <h3 class="text-2xl my-4">
                                    Dekton es ultracompacto
                                </h3>
                                <p class="text-zinc-400 mt-4">
                                    La exclusiva prensa de Dekton genera 25000
                                    toneladas de presión uniforme (2,5 veces el
                                    peso de la Torre Eiffel). Como resultado de
                                    este proceso de ultracompactación, Dekton no
                                    presenta microdefectos causantes de
                                    tensiones o puntos débiles y su porosidad es
                                    casi nula.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="max-w-screen-lg mx-auto my-10">
            <div class="mx-2 flex flex-col lg:flex-row items-center">
                <div class="mb-4 lg:w-1/2">
                    <h2 class="text-2xl text-white">
                        Resistencia a la abrasión
                    </h2>
                    <p class="text-zinc-400">
                        Dekton soporta la abrasión, superando al porcelánico
                        estándar. Es ideal para todas las aplicaciones
                        interiores y exteriores, incluyendo fachadas y suelos en
                        espacios comerciales sometidos a gran actividad.
                    </p>
                </div>
                <div class="lg:w-1/2">
                    <video
                        class="w-[100vw]"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={resistenciaVideo}></video>
                </div>
            </div>
            <div class="mx-2 mt-6 flex flex-col lg:flex-row items-center">
                <div class="lg:order-2 mb-4 lg:ml-4 lg:w-1/2">
                    <h2 class="text-2xl text-white">
                        Scratch & impact resistant
                    </h2>
                    <p class="text-zinc-400">
                        La gran resistencia de Dekton a impactos y arañazos lo
                        hacen perfecto para un uso diario. Su dureza iguala a la
                        del cuarzo, con una puntuación de 7 sobre 10 en la
                        escala Mohs de dureza de los minerales.
                    </p>
                </div>
                <div class="lg:order-1 lg:w-1/2">
                    <video
                        class="w-[100vw]"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={impactoVideo}></video>
                </div>
            </div>
            <div class="mx-2 mt-6 flex flex-col lg:flex-row items-center">
                <div class="mb-4 lg:w-1/2">
                    <h2 class="text-2xl text-white">
                        Resistente al agua y las manchas
                    </h2>
                    <p class="text-zinc-400">
                        Dekton presenta una porosidad realmente baja, lo que lo
                        hace altamente resistente al agua y las manchas, que
                        pueden eliminarse sin dificultad usando productos de
                        limpieza básicos.
                    </p>
                </div>
                <div class="lg:w-1/2">
                    <video
                        class="w-[100vw]"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={manchasVideo}></video>
                </div>
            </div>
            <div class="mx-2 mt-6 flex flex-col lg:flex-row items-center">
                <div class="lg:order-2 mb-4 lg:ml-4 lg:w-1/2">
                    <h2 class="text-2xl text-white">
                        Resistente a las temperaturas extremas y al fuego
                    </h2>
                    <p class="text-zinc-400">
                        Su bajo coeficiente de expansión térmica lo hace ideal
                        para proyectos sujetos a cambios bruscos de temperatura.
                        La certificación A1 acredita a Dekton como material
                        incombustible.
                    </p>
                </div>
                <div class="lg:order-1 lg:w-1/2">
                    <video
                        class="w-[100vw]"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={calorVideo}></video>
                </div>
            </div>
            <div class="mx-2 mt-6 flex flex-col lg:flex-row items-center">
                <div class="mb-4 lg:w-1/2">
                    <h2 class="text-2xl text-white">
                        Resistente a los rayos UV
                    </h2>
                    <p class="text-zinc-400">
                        Dekton no se ve afectado por los rayos ultravioleta. Su
                        color no se desvanece ni se degrada con el tiempo, sino
                        que mantiene la misma apariencia que el día en que se
                        instaló, sea cual sea la aplicación, interior o
                        exterior.
                    </p>
                </div>
                <div class="lg:w-1/2">
                    <video
                        class="w-[100vw]"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={rayosvVideo}></video>
                </div>
            </div>
        </section>
        <section class="max-w-screen-lg mx-auto">
            <div class="pietra flex items-center">
                <div class="flex flex-col text-white justify-center">
                    <h2 class="text-3xl font-semibold text-center">
                        La superficie neutra en carbono durante todo su ciclo de
                        vida
                    </h2>
                    <p class="mx-2 lg:mx-56 text-center">
                        Compensamos el 100% de nuestras emisiones de CO2 durante
                        todo el ciclo de vida del producto, haciendo así de
                        Dekton la única superficie neutra en carbono de
                        principio a fin del mercado.
                    </p>
                </div>
            </div>
        </section>
        <section class="bg-black">
            <div class="max-w-screen-lg mx-auto">
                <div class=" pt-6">
                    <h3 class="text-2xl mb-4 px-2 text-white">Opciones de diseño</h3>
                    <div
                        class="text-white max-w-screen-xl mx-auto flex overflow-x-scroll snap-x snap-mandatory"
                    >
                        <div class="w-[400wv] sm:w-[250vw] md:w-[w-100] flex px-2">
                            <div
                                class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center"
                            >
                                <img
                                    class="h-60 object-cover w-full"
                                    src={ultracompacto.src}
                                    alt=""
                                />
                                <div class="pr-4">
                                    <h3 class="text-2xl my-4">
                                        Variedad de espesores
                                    </h3>
                                    <p class="text-zinc-400">
                                        Disponibilidad en 30, 20, 12, 8 o 4 mm
                                        (Dekton Slim). Un espesor para cada
                                        aplicación, garantizando siempre las
                                        máximas prestaciones.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                            >
                                <img
                                    class="w-full h-60 object-cover"
                                    src={colorsImage.src}
                                    alt=""
                                /><div class="pr-4">
                                    <h3 class="text-2xl my-4">
                                        Variedad de colores y texturas
                                    </h3>
                                    <p class="text-zinc-400">
                                        Cada colección Dekton ofrece un sinfín
                                        de colores en una amplia variedad de
                                        acabados, que van desde los
                                        ultrabrillantes hasta los mates o
                                        aterciopelados.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                            >
                                <img
                                    class="w-full h-60 object-cover"
                                    src={espaciosContinuosImage.src}
                                    alt=""
                                />
                                <div class="pr-4">
                                    <h3 class="text-2xl my-4">
                                        Creación de espacios continuos
                                    </h3>
                                    <p class="text-zinc-400 mt-4">
                                        Gracias a sus propiedades, Dekton puede
                                        instalarse con juntas prácticamente
                                        imperceptibles, garantizando así la
                                        uniformidad cromática en toda la
                                        superficie y cubriendo grandes espacios
                                        con continuidad y naturalidad.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                            >
                                <img
                                    class="w-full h-60 object-cover"
                                    src={personalizacionImage.src}
                                    alt=""
                                />
                                <div class="pr-4">
                                    <h3 class="text-2xl my-4">
                                        Posibilidad de personalización
                                    </h3>
                                    <p class="text-zinc-400 mt-4">
                                        Dekton ofrece la opción de personalizar
                                        colores y cortes complejos, creando así
                                        piezas únicas y exclusivas. Las
                                        posibilidades de diseño son ilimitadas.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                            >
                                <img
                                    class="w-full h-60 object-cover"
                                    src={tamanosImage.src}
                                    alt=""
                                />
                                <div class="pr-4">
                                    <h3 class="text-2xl my-4">
                                        Variedad de tamaños
                                    </h3>
                                    <p class="text-zinc-400 mt-4">
                                        Dekton está disponible tanto en formatos
                                        pequeños de 710 x 710 mm, como en
                                        formatos grandes de 3200 x 1440 mm,
                                        perfectos para dotar de continuidad
                                        visual a grandes espacios con el mínimo
                                        número de juntas.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                            >
                                <img
                                    class="w-full h-60 object-cover"
                                    src={instalacionImage.src}
                                    alt=""
                                />
                                <div class="pr-4">
                                    <h3 class="text-2xl my-4">
                                        Instalación sencilla y optimización de
                                        costes
                                    </h3>
                                    <p class="text-zinc-400 mt-4">
                                        Menor coste y mayor ligereza con el
                                        formato Dekton Optimma (2600 x 1000 mm
                                        en un espesor de 4 mm), especialmente
                                        diseñado y fabricado para las
                                        aplicaciones de revestimiento vertical
                                        más comunes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="text-2xl text-white mb-4 px-2">Innovaciones</h3>
                    <div>
                        <div class="flex flex-wrap">
                            <div class="w-1/2 md:w-1/3 px-2 py-4">
                                <img class="mb-2" src={slimImage.src} alt="" />
                                <h3 class="text-2xl text-white">Dekton Slim</h3>
                                <p class="text-zinc-400">
                                    Las tablas en gran formato y de solo 4 mm de
                                    espesor ofrecen numerosas y variadas
                                    posibilidades de diseño y un transporte e
                                    instalación increíblemente sencillos.
                                </p>
                            </div>
                            <div class="w-1/2 md:w-1/3 px-2 py-4">
                                <img
                                    class="mb-2"
                                    src={optimmaImage.src}
                                    alt=""
                                />
                                <h3 class="text-2xl text-white">
                                    Optimma
                                </h3>
                                <p class="text-zinc-400">
                                    Hemos perfeccionado nuestras tablas Dekton
                                    teniendo en cuenta sus aplicaciones más
                                    comunes con el fin de crear un nuevo formato
                                    con un coste, diseño, instalación y manejo
                                    mejorados.
                                </p>
                            </div>
                            <div class="w-1/2 md:w-1/3 px-2 py-4">
                                <img
                                    class="mb-2"
                                    src={xglossImage.src}
                                    alt=""
                                />
                                <h3 class="text-2xl text-white">X-Gloss</h3>
                                <p class="text-zinc-400">
                                    Un acabado luminoso y deslumbrante
                                    conseguido gracias a un pulido mecánico, sin
                                    necesidad de esmaltes u otros materiales.
                                </p>
                            </div>
                            <div class="w-1/2 md:w-1/3 px-2 py-4">
                                <img class="mb-2" src={gripImage.src} alt="" />
                                <h3 class="text-2xl text-white">Grip+</h3>
                                <p class="text-zinc-400">
                                    Acabado antideslizante de tacto suave con la
                                    máxima adherencia, recomendado para zonas
                                    interiores y exteriores como piscinas,
                                    entradas de centros comerciales,
                                    aeropuertos, escaleras, terrazas...
                                </p>
                            </div>
                            <div class="w-1/2 md:w-1/3 px-2 py-4">
                                <img
                                    class="mb-2"
                                    src={protekImage.src}
                                    alt=""
                                />
                                <h3 class="text-2xl text-white">Protek</h3>
                                <p class="text-zinc-400">
                                    Una malla de protección diseñada
                                    especialmente por Cosentino para las
                                    aplicaciones más exigentes. Cuenta con la
                                    certificación A2 s1 d0, la mayor en
                                    resistencia al fuego tras la A1.
                                </p>
                            </div>
                            <div class="w-1/2 md:w-1/3 px-2 py-4">
                                <img class="mb-2" src={corteImage.src} alt="" />
                                <h3 class="text-2xl text-white">
                                    Corte Rápido
                                </h3>
                                <p class="text-zinc-400">
                                    La tecnología desarrollada por Cosentino
                                    permite cortar las superficies Dekton hasta
                                    tres veces más rápido sin alterar sus
                                    propiedades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-2 text-white py-4">
                    <p class="text-zinc-400">Aplicaciones</p>
                    <h3 class="text-3xl mb-5 text-white">Tú lo imaginas, dekton lo hace realidad</h3>
                    <div>
                        <div class="md:flex">
                            <div class="md:basis-1/3 relative mx-2">
                                <img  class="h-72 w-full object-cover" src={appRevestimientosImage.src} alt="">
                                <h4 class="text-xl my-2">Revestimientos</h4>
                            </div>
                            <div class="md:basis-1/3 relative mx-2">
                                <img  class="h-72 w-full object-cover" src={appMobiliarioImage.src} alt="">
                                <h4 class="text-xl my-2">Mobiliario</h4>
                            </div>
                            <div class="md:basis-1/3 relative mx-2">
                                <img class="h-72 w-full object-cover" src={appEncimeraImage.src} alt="">
                                <h4 class="text-xl my-2">Encimeras de cocina</h4>
                            </div>
                        </div>
                        <div class="md:flex ">
                            <div class="md:basis-1/2 mx-2">
                                <img class="h-72 w-full object-cover " src={appSuelosImage.src} alt="">
                                <h4 class="text-xl my-2">Suelos</h4>
                            </div>
                            <div class="md:basis-1/2 mx-2">
                                <img class="h-72 w-full object-cover " src={appFachadasImage.src} alt="">
                                <h4 class="text-xl my-2">Fachadas</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <MoreProductsDekton/>
</Layout>
