---
import Layout from "../layouts/Layout.astro";
import dektonImage from "../images/dekton/portada.jpg";
import dektonLogo from "../images/logo-dekton.svg";
import dektonInovacion from "../images/dekton/innovacion.avif";
import dektonInovacion2 from "../images/dekton/inovacion-2.jpg";
import ultracompacto from "../images/dekton/ultracompacto.avif";
import ultracompactos from "../images/dekton/ultracompactos.jpg";
import resistenciaVideo from "../images/dekton/resistencia.mp4";
import impactoVideo from "../images/dekton/impacto.mp4";
import manchasVideo from "../images/dekton/manchas.mp4";
import calorVideo from "../images/dekton/calor.mp4";
import rayosvVideo from "../images/dekton/rayosv.mp4";
import piertraKodeImage from "../images/pietrakode.jpeg";
import colorsImage from "../images/dekton/variedad-de-colores.png";
import espaciosContinuosImage from "../images/dekton/espacios-continuos.jpg";
import personalizacionImage from "../images/dekton/personalizacion.png";
import tamanosImage from "../images/dekton/tamanos.avif";
import instalacionImage from "../images/dekton/instalacion.avif";
import slimImage from "../images/dekton/slim.avif";
import optimmaImage from "../images/dekton/optimma.avif";
import xglossImage from "../images/dekton/xgloss.avif";
import gripImage from "../images/dekton/grip.avif";
import protekImage from "../images/dekton/protek.avif";
import corteImage from "../images/dekton/corte.avif";
import appRevestimientosImage from "../images/dekton/app-revestimiento.png";
import appMobiliarioImage from "../images/dekton/app-mobiliario.png";
import appSuelosImage from "../images/dekton/app-suelos.png";
import appFachadasImage from "../images/dekton/app-fachadas.png";
import appEncimeraImage from "../images/dekton/app-encimeras.png";
import MoreProductsDekton from "../components/Moreproductsdekton.astro";

const pageviewData = { landing: "dekton" };
---

<style
    define:vars={{
        trance: `url("${dektonImage.src}")`,
        piertraKode: `url("${piertraKodeImage.src}")`,
    }}
>
    .portada {
        background-image: var(--trance);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
    .pietra {
        background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.55),
                rgba(0, 0, 0, 0.25)
            ),
            var(--piertraKode);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
</style>

<Layout
    title="Dekton México | Superficies Ultracompactas de Alta Resistencia y Diseño"
    description="Descubre Dekton en México, la superficie ultracompacta líder en resistencia, durabilidad y estilo para cocinas, baños, fachadas y proyectos arquitectónicos exigentes. Calidad y tecnología en cada detalle."
    pageviewData={pageviewData}
>
    <main>
        <div class="portada flex items-center justify-center">
            <img
                class="w-56 lg:w-72"
                src={dektonLogo.src}
                alt="Logotipo Dekton México"
            />
        </div>

        <section class="max-w-screen-lg mx-auto text-white">
            <div class="space-y-2 my-10 px-4">
                <h1 class="text-zinc-400">¿Qué es Dekton?</h1>
                <h2 class="text-4xl font-bold">
                    Dekton: La Superficie Ultracompacta de Alta Tecnología para
                    Arquitectura y Diseño
                </h2>
                <p class="text-zinc-400 leading-relaxed">
                    Dekton es una superficie ultracompacta desarrollada con
                    tecnología avanzada que fusiona la belleza natural de la
                    piedra con una resistencia excepcional. Ideal para proyectos
                    arquitectónicos modernos y exigentes, Dekton ofrece
                    soluciones duraderas para interiores y exteriores,
                    garantizando un rendimiento superior en cocinas, baños,
                    fachadas, suelos y mobiliario. Con Dekton, la innovación y
                    el diseño se combinan para crear espacios únicos y
                    funcionales.
                </p>
            </div>
        </section>

        <section class="max-w-screen-lg mx-auto px-2">
            <div
                class="text-white max-w-screen-xl mx-auto flex overflow-x-scroll snap-x snap-mandatory"
            >
                <div class="flex w-[400vw] sm:w-[250vw]">
                    <div
                        class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                    >
                        <img
                            class="h-60 object-cover w-full"
                            src={dektonInovacion.src}
                            alt="Innovación Dekton"
                        />
                        <div class="pr-4">
                            <h3 class="text-2xl my-4 font-semibold">
                                La excelencia en superficies ultracompactas
                            </h3>
                            <p class="text-zinc-400 leading-relaxed">
                                Dekton representa lo último en tecnología y
                                estética, ofreciendo superficies ultracompactas
                                diseñadas para resistir el uso intensivo sin
                                perder belleza ni funcionalidad.
                            </p>
                            <p class="mt-4 text-zinc-400 leading-relaxed">
                                Su versatilidad permite su aplicación en
                                cualquier espacio, desde fachadas expuestas a la
                                intemperie hasta suelos de alta circulación.
                            </p>
                        </div>
                    </div>
                    <div
                        class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                    >
                        <img
                            class="w-full h-60 object-cover"
                            src={dektonInovacion2.src}
                            alt="Tecnología TSP Dekton"
                        />
                        <div class="pr-4">
                            <h3 class="text-2xl my-4 font-semibold">
                                Tecnología TSP: Innovación que marca la
                                diferencia
                            </h3>
                            <p class="text-zinc-400 leading-relaxed">
                                El proceso de fabricación exclusivo de Dekton
                                mediante Tecnología de Sinterización por Presión
                                (TSP) proporciona un material con un rendimiento
                                superior al porcelánico estándar, garantizando
                                mayor durabilidad y resistencia.
                            </p>
                        </div>
                    </div>
                    <div
                        class="w-[90vw] sm:w-[70vw] md:w-[50vw] lg:w-[25vw] snap-center mx-2"
                    >
                        <img
                            class="w-full h-60 object-cover"
                            src={ultracompactos.src}
                            alt="Proceso de ultracompactación Dekton"
                        />
                        <div class="pr-4">
                            <h3 class="text-2xl my-4 font-semibold">
                                Ultracompacto y sin defectos
                            </h3>
                            <p class="text-zinc-400 leading-relaxed mt-4">
                                La ultracompactación de Dekton, con 25,000
                                toneladas de presión, elimina microdefectos y
                                reduce la porosidad a casi cero, asegurando
                                superficies extremadamente resistentes,
                                homogéneas y de larga duración.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="max-w-screen-lg mx-auto my-10 space-y-12">
            {/* Resistencia a la abrasión */}
            <div class="flex flex-col lg:flex-row items-center mx-2">
                <div class="lg:w-1/2 mb-4">
                    <h2 class="text-2xl text-white font-semibold">
                        Resistencia Superior a la Abrasión
                    </h2>
                    <p class="text-zinc-400 leading-relaxed">
                        Dekton supera al porcelánico estándar en resistencia a
                        la abrasión, siendo perfecto para aplicaciones tanto en
                        interiores como en exteriores, incluyendo fachadas y
                        suelos en espacios comerciales de alto tráfico.
                    </p>
                </div>
                <div class="lg:w-1/2">
                    <video
                        class="w-full"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={resistenciaVideo}></video>
                </div>
            </div>

            {/* Resistente a arañazos e impactos */}
            <div class="flex flex-col lg:flex-row items-center mx-2">
                <div class="lg:w-1/2 lg:order-2 mb-4 lg:ml-4">
                    <h2 class="text-2xl text-white font-semibold">
                        Alta Resistencia a Arañazos e Impactos
                    </h2>
                    <p class="text-zinc-400 leading-relaxed">
                        Gracias a su dureza, Dekton resiste arañazos y golpes
                        diarios, manteniendo su belleza y funcionalidad en
                        espacios residenciales y comerciales.
                    </p>
                </div>
                <div class="lg:w-1/2 lg:order-1">
                    <video
                        class="w-full"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={impactoVideo}></video>
                </div>
            </div>

            {/* Resistencia al agua y manchas */}
            <div class="flex flex-col lg:flex-row items-center mx-2">
                <div class="lg:w-1/2 mb-4">
                    <h2 class="text-2xl text-white font-semibold">
                        Impermeabilidad y Resistencia a Manchas
                    </h2>
                    <p class="text-zinc-400 leading-relaxed">
                        La baja porosidad de Dekton evita la absorción de
                        líquidos, facilitando la limpieza y manteniendo la
                        superficie libre de manchas incluso en uso cotidiano.
                    </p>
                </div>
                <div class="lg:w-1/2">
                    <video
                        class="w-full"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={manchasVideo}></video>
                </div>
            </div>

            {/* Resistencia a temperaturas extremas y fuego */}
            <div class="flex flex-col lg:flex-row items-center mx-2">
                <div class="lg:w-1/2 lg:order-2 mb-4 lg:ml-4">
                    <h2 class="text-2xl text-white font-semibold">
                        Soporta Temperaturas Extremas y es Ignífugo
                    </h2>
                    <p class="text-zinc-400 leading-relaxed">
                        Dekton cuenta con un coeficiente de expansión térmica
                        muy bajo y certificación A1 de material incombustible,
                        ideal para ambientes con cambios bruscos de temperatura
                        o exposición al fuego.
                    </p>
                </div>
                <div class="lg:w-1/2 lg:order-1">
                    <video
                        class="w-full"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={calorVideo}></video>
                </div>
            </div>

            {/* Resistencia a rayos UV */}
            <div class="flex flex-col lg:flex-row items-center mx-2">
                <div class="lg:w-1/2 mb-4">
                    <h2 class="text-2xl text-white font-semibold">
                        Resistencia a Rayos UV y Mantiene el Color
                    </h2>
                    <p class="text-zinc-400 leading-relaxed">
                        Dekton mantiene su color original sin desvanecerse o
                        degradarse con el tiempo, garantizando una apariencia
                        impecable en aplicaciones exteriores e interiores
                        expuestas a la luz solar directa.
                    </p>
                </div>
                <div class="lg:w-1/2">
                    <video
                        class="w-full"
                        loop
                        muted
                        autoplay
                        playsinline
                        src={rayosvVideo}></video>
                </div>
            </div>
        </section>

        <section class="max-w-screen-lg mx-auto my-12">
            <div class="pietra flex items-center bg-gray-900 rounded-lg p-6">
                <div class="flex flex-col text-white justify-center mx-auto">
                    <h2 class="text-3xl font-semibold text-center">
                        Superficie Neutra en Carbono Durante Todo su Ciclo de
                        Vida
                    </h2>
                    <p
                        class="mx-2 lg:mx-56 mt-4 text-center text-zinc-400 leading-relaxed"
                    >
                        Dekton compensa el 100% de las emisiones de CO2
                        generadas durante su ciclo de vida, posicionándose como
                        la única superficie ultracompacta neutra en carbono
                        desde su fabricación hasta su uso final.
                    </p>
                </div>
            </div>
        </section>

        <section class="bg-black py-8">
            <div class="max-w-screen-lg mx-auto px-4">
                <h3 class="text-2xl mb-6 text-white font-semibold px-2">
                    Opciones de Diseño con Dekton
                </h3>
                <div
                    class="overflow-x-auto snap-x snap-mandatory flex space-x-4 px-2 md:block"
                >
                    {/* Para móvil: scroll horizontal con cards */}
                    {
                        /* Para escritorio: un contenedor grid que simula la imagen a la izquierda y texto a la derecha */
                    }
                    <div class="md:flex md:items-center md:space-x-6">
                        <img
                            class="w-full h-60 object-cover rounded-md md:w-1/2 md:h-auto"
                            src={ultracompacto.src}
                            alt="Espesores Dekton"
                        />
                        <div class="mt-4 md:mt-0 md:w-1/2 text-white">
                            <h3 class="text-2xl font-semibold mb-4">
                                Variedad de Espesores para Cada Proyecto
                            </h3>
                            <p class="text-zinc-400 leading-relaxed">
                                Dekton está disponible en espesores de 30, 20,
                                12, 8 mm y en versión ultradelgada Dekton Slim
                                de 4 mm, adaptándose a cualquier necesidad de
                                diseño y aplicación.
                            </p>
                        </div>
                    </div>

                    {
                        /* Puedes repetir esta estructura para las otras cards, usando md:flex para diseño desktop */
                    }
                </div>

                <h3 class="text-2xl mt-12 mb-6 text-white font-semibold px-2">
                    Innovaciones Exclusivas de Dekton
                </h3>
                <div
                    class="overflow-x-auto snap-x snap-mandatory flex space-x-4 px-2 md:block"
                >
                    {/* Para móvil: scroll horizontal con cards */}
                    {
                        /* Para escritorio: flex con imagen a la izquierda y texto a la derecha */
                    }
                    <div class="md:flex md:items-center md:space-x-6">
                        <img
                            class="w-full h-60 object-cover rounded-md md:w-1/2 md:h-auto order-2"
                            src={slimImage.src}
                            alt="Dekton Slim"
                        />
                        <div class="mt-4 md:mt-0 md:w-1/2 text-white order-1">
                            <h3 class="text-2xl font-semibold mb-4">
                                Dekton Slim
                            </h3>
                            <p class="text-zinc-400 leading-relaxed">
                                Superficies ultradelgadas de 4 mm que ofrecen un
                                manejo, transporte e instalación más sencillos
                                sin perder las prestaciones técnicas de Dekton.
                            </p>
                        </div>
                    </div>

                    {/* Repite esta estructura para más tarjetas aquí */}
                </div>
            </div>
        </section>
        <section class=" bg-black">
            <div class="py-10 max-w-screen-lg mx-auto text-white px-2">
                <p class="uppercase tracking-wide mb-2">Aplicaciones</p>
                <h3 class="text-3xl mb-5 font-semibold">
                    Tú imaginas, Dekton lo hace realidad
                </h3>
                <div class="md:flex md:gap-4">
                    <div class="md:basis-1/3 relative mx-2">
                        <img
                            class="h-72 w-full object-cover rounded"
                            src={appRevestimientosImage.src}
                            alt="Revestimientos con Dekton"
                        />
                        <h4 class="text-xl mt-2">Revestimientos</h4>
                    </div>
                    <div class="md:basis-1/3 relative mx-2">
                        <img
                            class="h-72 w-full object-cover rounded"
                            src={appMobiliarioImage.src}
                            alt="Mobiliario con Dekton"
                        />
                        <h4 class="text-xl mt-2">Mobiliario</h4>
                    </div>
                    <div class="md:basis-1/3 relative mx-2">
                        <img
                            class="h-72 w-full object-cover rounded"
                            src={appEncimeraImage.src}
                            alt="Encimeras de cocina Dekton"
                        />
                        <h4 class="text-xl mt-2">Encimeras de Cocina</h4>
                    </div>
                </div>
                <div class="md:flex md:gap-4 mt-6">
                    <div class="md:basis-1/2 mx-2">
                        <img
                            class="h-72 w-full object-cover rounded"
                            src={appSuelosImage.src}
                            alt="Suelos con Dekton"
                        />
                        <h4 class="text-xl mt-2">Suelos</h4>
                    </div>
                    <div class="md:basis-1/2 mx-2">
                        <img
                            class="h-72 w-full object-cover rounded"
                            src={appFachadasImage.src}
                            alt="Fachadas con Dekton"
                        />
                        <h4 class="text-xl mt-2">Fachadas</h4>
                    </div>
                </div>
            </div>
        </section>
     
        <MoreProductsDekton />

    </main>
</Layout>

